/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "~ngx-bootstrap/datepicker/bs-datepicker";


@media (min-width: 576px ) {
    .product-grid {
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    .container{
        max-width: 1110px;
        padding-right: 16px;
        padding-left: 16px;
    }   
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container{
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-left: auto;
    margin-right: auto;
}